
body {
	margin:0px;
	background-color:#009999;
}
p {
	margin:0px;
}
.logo{
	 width:145px;
}
#page{
	max-width:1000px;
	margin: 0 auto;
}
#page_header {
    position: relative;
    height: 131.7px;
    margin: 0;
	background-color:#015666;
}
#page_center {
	position: relative;
    margin: 0 auto;
    font-size: 12.5px;
	background-color:#dee8e9;
	width:100%;
}
#info_more {
	position: relative;
	padding:20px;
    margin: 0 auto;
    font-size: 12.5px;
	background-color:#f4ffff;
	color:#015666;
	width:100%;
	box-shadow: 0px 10px 15px #b9bfc0;
	font-family:"RobotoCondensed-Bold", sans-serif;
	font-size: 250%;
	text-align:center;
	line-height: 1.7em;
	font-weight: 800;
	box-sizing: border-box;
}

.glav_info {
	color:#f4ffff;
	font-size: 1.5em;
	line-height: 35px;
	float:right;
	padding-right:20px;
}
#page_header > img {
	float:left;
}
#torg {

}
.content{
	margin:30px;
	box-shadow: 0 0 10px #cccccc;
	font-family: Arial;
    position: relative;

}
.описание {
	font-family:"RobotoCondensed-Bold", sans-serif;
	position:absolute;
	top:0px;
	background-color:rgba(255,255,255,0.6);
	width: 100%;
	height:100%;
	opacity:0;
	padding:20px;
	box-sizing: border-box;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 800;
	color:#0f4444;
	text-align:left;
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
	transition-property: opacity;
	transition-duration: 1s;
}
.clearfix{
	clear: both;
}
.page_center_down{
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
	margin:auto;
}

.описание:hover {
	opacity:1;
}
.price {
	align-self: flex-end;
}
.img_store{
	padding: 12px;
		box-sizing: border-box;
}
.phone-number{
	color:#f4ffff;
}
.new{
	color:#f4ffff;
	font-size: 1.5em;
	line-height: 35px;
	padding-left:20px;
	height:50px;
	float: left;
}
@media screen and (max-width: 400px) {
	.glav_info {
	font-size: 1.2em;
}
  .logo{
	width:70px;
	margin:0.83em;
}
  .content {
	display: block;
	font-size:14px;
  }
  .описание {
	position:static;
	max-width: 424px;
	height:auto;
	opacity:1;
  }
  .price{
	padding-top:20px;
  }
  .img_store{
	width:100%;
  }
  #info_more{
	font-size: 150%;
  }
}
@media screen and (max-width: 750px) {
  .new{
	display:none;
  }
}