body {
	font-family:Arial;
	margin:0px;
}
.header{
	color:white;
	text-align:center;
	background-color:#1abc9c;
	padding-top:75px;
	padding-bottom:75px;
}
h1{
	margin:0px;
}
.navbar{

	background-color:#333333;
}
a{
	display: inline-block;
	font-family:Arial;
	padding:15px;
	text-decoration: none;
	color:white;
}
a:hover{
	background-color:#bbbbbb;
	color:black;
}
.side{
	width:25%;
	background-color:#f1f1f1;
	padding-left:20px;
	padding-right:20px;
}
.row{
	display: flex;
}
.main{
	width:75%;
	padding-left:20px;
	padding-right:20px;


}
.footer{
	background-color:#dddddd;
	text-align:center;
}
h2{
	margin:0px;
	padding-bottom:40px;
	padding-top:40px;
}
.fakeimg{
	padding:20px;
	background-color:#999999;
}
@media screen and (max-width: 600px) {
  a {
	display: block;
  }
  .row {
	display: block;
  }
  .main{
	width:100%;
  }.side{
	width:100%;

}
	  
}